<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sản Phẩm page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header>
    <div th:replace="/fragments/dashboard :: navbarTemplate"></div>
</header>
<main class="pt-5">
    <div class="container-fluid mt-5">
        <div class="row mt-4">
            <th:block th:if="${#lists.isEmpty(contacts)}">
                <h5>No contacts</h5>
            </th:block>

            <th:block th:unless="${#lists.isEmpty(contacts)}">
                <div class="table-responsive" style="width: 80%">
                    <h5>List of contacts</h5>
                    <table id="tableNhanVien" class="table table-dark table-hover">
                        <thead>
                        <tr>
                            <th>MaSP</th>
                            <th>TenSP</th>
                            <th>DonVi</th>
                            <th>MaLoaiSP</th>
                            <th>MaNhanHieu</th>
                            <th>DonGia</th>
                            <th>
                                <button type="button" class="btn btn-info btn-rounded waves-effect" onclick="launchModalSave()"> <i class="fa fa-plus"></i></button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="contact,iterStat : ${contacts}">
                            <td id="manvTable" th:text="${contact.getMasanpham()}"></td>
                            <td id="tenNhanVienTable" th:text="${contact.getTensanpham()}"></td>
                            <td th:text="${contact.getDonvisanpham()}"></td>
                            <td th:text="${contact.getMaloaisanpham()}"></td>
                            <td th:text="${contact.getManhanhieu()}"></td>
                            <td th:text="${contact.getDongia()}"></td>
                            <td>
                                <button type="button" class="btn btn-primary btnEdit" data-toggle="modal" data-target="#exampleModal" onclick="getSanPham(maspEdit)">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalSecond" onclick="deleteSanPham()">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </th:block>
            <div id="toastTB" class="toast mdb-color" role="alert" aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px; margin-left: 3rem;height: max-content;max-width: 175px" data-delay="10000">
                <div class="toast-header">
                    <i class="fa fa-info"></i>
                    <h5 class="font-weight-bolder pl-2 pt-2" style="color: #00bcd4">Thông báo</h5>
                    <button type="button" class="ml-4 mb-2 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="toast-body">
                    <p class="text-white font-weight-bolder" id="toastSuccess"></p>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header cyan darken-3 text-white">
                <h5 class="modal-title font-weight-bolder" id="exampleModalLabel">Thêm sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body font-weight-bolder">
                <form id="formSanPham" th:object="${sanpham}" onsubmit="formAction()">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="masp">Mã sản phẩm</label>
                                <input type="text" class="form-control" id="masp" th:field="*{masanpham}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="tensp">Tên sản phẩm</label>
                                <input type="text" class="form-control" id="tensp" th:field="*{tensanpham}">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="maloaisp">Mã loại sản phẩm</label>
                                <input type="text" class="form-control" id="maloaisp" th:field="*{maloaisanpham}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="manhanhieu">Mã nhãn hiệu</label>
                            <input class="form-control" id="manhanhieu" th:field="*{manhanhieu}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="donvi">Đơn vị</label>
                            <input type="text" class="form-control" id="donvi" th:field="*{donvisanpham}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="dongia">Đơn giá</label>
                            <input type="text" class="form-control" id="dongia" th:field="*{dongia}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer unique-color">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btnModal" type="button" class="btn btn-primary" onclick="formSubmit()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalSecond">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header cyan darken-3 text-white">
                <h5 class="modal-title font-weight-bolder">Attention</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body font-weight-bolder" id="modalXoa">
            </div>
            <div class="modal-footer unique-color">
                <button type="button" class="btn btn-primary" onclick="confirmDeleteNo();">
                    <i class="fa fa-thumbs-down"></i>
                </button>
                <button type="button" class="btn btn-primary" onclick="confirmDeleteYes(maspEdit);">
                    <i class="fa fa-thumbs-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
<!-- See configuration in WebMvConfig.java -->
<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<!-- Material Design Bootstrap -->
<link href="../static/css/mdb.min.css" th:href="@{/css/mdb.min.css}" rel="stylesheet" />
<!-- Your custom styles (optional) -->
<link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet" />

<link href="webjars/mdbootstrap-bootstrap-material-design/4.8.8/css/mdb.lite.css" rel="stylesheet"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>

<script>
    var saveVar = false;
    var edit = false;
    function launchModalSave() {
        saveVar = true;
        if(document.getElementById("masp").value!=null){
            document.getElementById("masp").value = '';
            document.getElementById("tensp").value= '';
            document.getElementById("maloaisp").value= '';
            document.getElementById("donvi").value= '';
            document.getElementById("dongia").value= '';
            document.getElementById("manhanhieu").value= '';
            $('#exampleModal').modal();
        }else{
            $('#exampleModal').modal();
        }
    }

    function getSanPham(maSanPhamEdit) {
        edit = true;
        var maspGet = maSanPhamEdit;
        axios.get('/sanpham/?masanpham='+ maspGet).then(function (response) {
            document.getElementById("masp").value = response.data.masanpham;
            document.getElementById("tensp").value= response.data.tensanpham;
            document.getElementById("manhanhieu").value= response.data.manhanhieu;
            document.getElementById("maloaisp").value= response.data.maloaisanpham;
            document.getElementById("donvi").value= response.data.donvisanpham;
            document.getElementById("dongia").value= response.data.dongia;
        })
        $('#exampleModal').modal();
    }
    function save() {
        var sanpham = new Object()
        sanpham.masanpham = $('#masp').val();
        sanpham.tensanpham = $('#tensp').val();
        sanpham.maloaisanpham = $('#maloaisp').val();
        sanpham.donvisanpham = $('#donvi').val();
        sanpham.manhanhieu = $('#manhanhieu').val();
        sanpham.dongia = $('#dongia').val();

        axios.post('/sanpham',sanpham).then(function (response) {
            mytbl.destroy();
            mytbl = $("#tableNhanVien").DataTable({
                "ajax" : {
                    "url": "/sanpham/all",
                    "type": "GET",
                    "cache": true,
                    "dataSrc": "",
                },
                "columns" : [
                    { "data" : "masanpham" },
                    { "data" : "tensanpham" },
                    { "data" : "donvisanpham" },
                    { "data" : "maloaisanpham" },
                    { "data" : "manhanhieu" },
                    { "data" : "dongia" },
                    { defaultContent : ' <button type="button" class="btn btn-cyan">\n' +
                            '                                    <i class="fa fa-pencil"></i>\n' +
                            '                                </button>\n' +
                            '                                <button type="button" class="btn btn-danger"">\n' +
                            '                                    <i class="fa fa-trash"></i>\n' +
                            '                                </button>'}
                ]
            });
            $('#exampleModal').modal('hide');
            document.getElementById("toastSuccess").innerHTML = 'add new ' + response.data.masanpham + ' success';
            $("#toastTB").toast('show');
        })
    }

    function saveEdit(maspTmp){
        var maspGet = maspTmp;
        var sanpham = new Object();
        sanpham.masanpham = $('#masp').val();
        sanpham.tensanpham = $('#tensp').val();
        sanpham.donvisanpham = $('#donvi').val();
        sanpham.dongia = $('#dongia').val();
        sanpham.maloaisanpham = $('#maloaisp').val();
        sanpham.manhanhieu = $('#manhanhieu').val();
        axios.put('/sanpham/?masanpham='+ maspGet,sanpham).then(function (response) {
            mytbl.destroy();
            mytbl = $("#tableNhanVien").DataTable({
                "ajax" : {
                    "url": "/sanpham/all",
                    "type": "GET",
                    "cache": true,
                    "dataSrc": "",
                },
                "columns" : [
                    { "data" : "masanpham" },
                    { "data" : "tensanpham" },
                    { "data" : "donvisanpham" },
                    { "data" : "maloaisanpham" },
                    { "data" : "manhanhieu" },
                    { "data" : "dongia" },
                    { defaultContent : ' <button type="button" class="btn btn-cyan">\n' +
                            '                                    <i class="fa fa-pencil"></i>\n' +
                            '                                </button>\n' +
                            '                                <button type="button" class="btn btn-danger"">\n' +
                            '                                    <i class="fa fa-trash"></i>\n' +
                            '                                </button>'}
                ]
            });
            $('#exampleModal').modal('hide');
            document.getElementById("toastSuccess").innerHTML = 'edit information of ' + response.data.masanpham + ' success';
            $("#toastTB").toast('show');
        })
    }

    $(document).ready(function() {
        mytbl = $("#tableNhanVien").DataTable({
            "ajax" : {
                "url": "/sanpham/all",
                "type": "GET",
                "cache": true,
                "dataSrc": "",
            },
            "columns" : [
                { "data" : "masanpham" },
                { "data" : "tensanpham" },
                { "data" : "donvisanpham" },
                { "data" : "maloaisanpham" },
                { "data" : "manhanhieu" },
                { "data" : "dongia" },
                { defaultContent : ' <button type="button" class="btn btn-cyan">\n' +
                        '                                    <i class="fa fa-pencil"></i>\n' +
                        '                                </button>\n' +
                        '                                <button type="button" class="btn btn-danger"">\n' +
                        '                                    <i class="fa fa-trash"></i>\n' +
                        '                                </button>'}
            ]
        });

        $('#tableNhanVien').on('click', ':button.btn-cyan' , function () {
            data = mytbl.row( $(this).parent().parent() ).data();
            maspEdit = data.masanpham;
            getSanPham(maspEdit);
        } );

        $('#tableNhanVien').on('click', ':button.btn-danger' , function () {
            data = mytbl.row( $(this).parent().parent() ).data();
            maspEdit = data.masanpham;
            deleteSanPham(data.tensanpham);
        } );
    });



    function formSubmit() {
        if(saveVar){
            save();
            saveVar = false;
        }else{
            saveEdit(maspEdit);
            edit = false;
        }
    }

    function deleteSanPham(tenSanPhamTemp) {
        var tenSanPham = tenSanPhamTemp;
        document.getElementById("modalXoa").innerHTML = 'Bạn có muốn xóa sản phẩm : '+ tenSanPham;
        $('#modalSecond').modal();
    }

    function confirmDeleteNo() {
        $('#modalSecond').modal('hide');
    }

    function confirmDeleteYes(maSanPhamTemp) {
        var maSanPhamDelete = maSanPhamTemp;
        axios.delete('/sanpham/'+'?masanpham='+maSanPhamDelete).then(function (response) {
            mytbl.destroy();
            mytbl = $("#tableNhanVien").DataTable({
                "ajax" : {
                    "url": "/sanpham/all",
                    "type": "GET",
                    "cache": true,
                    "dataSrc": "",
                },
                "columns" : [
                    { "data" : "masanpham" },
                    { "data" : "tensanpham" },
                    { "data" : "donvisanpham" },
                    { "data" : "maloaisanpham" },
                    { "data" : "manhanhieu" },
                    { "data" : "dongia" },
                    { defaultContent : ' <button type="button" class="btn btn-cyan">\n' +
                            '                                    <i class="fa fa-pencil"></i>\n' +
                            '                                </button>\n' +
                            '                                <button type="button" class="btn btn-danger"">\n' +
                            '                                    <i class="fa fa-trash"></i>\n' +
                            '                                </button>'}
                ]
            });
            $('#modalSecond').modal('hide');
            document.getElementById("toastSuccess").innerHTML = 'delete ' + response.data + ' success';
            $("#toastTB").toast('show');
        })
    }
</script>
</html>